@charset 'utf-8';

//타이틀 영어 폰트
$eng_title : "Lemon";
$eng_sub : 'Merriweather';
$kor : 'NanumSquare';

@mixin backGround($url) {
    background: {
        image: $url;
        repeat: no-repeat;
        size: contain;
    }
}



