@charset 'utf-8';
@import '_var.scss';

html {
  font-size: 4px;

  @include small {
    font-size: 2.5px;
  }

  @include mobile {
    font-size: 3px;
  }

  @include tablet {
    font-size: 3.5px;
  }

  word-break: keep-all;
}

body {
  font-size: $size-s;
}

.App {
  overflow: hidden;
}

//네비
.navbar {
  padding: 0 30px;

  @include small {
    background-color: rgba(0, 0, 0, 0.8);
  }

  @include mobile {
    background-color: rgba(0, 0, 0, 0.8);
  }

  @include tablet {
    background-color: rgba(0, 0, 0, 0.8);
  }

}

.navbar .navbar-nav a {
  color: white !important;
  margin: 0 2%;
}

.navbar-nav>.nav-link {
  margin: 0 10px !important;
}
.navbar-nav{
  &:nth-of-type(2){flex-direction: row; margin: 10px 0;}
}
.navbar-toggler {
  background: #fff;
}

.navbar-toggler-icon {
  width: 6.5rem;
  height: 6.5rem;
}


//네비 액티브클래스
.navBg {
  background-color: rgba(0, 0, 0, 0.8);
}

.navBgg {
  background-color: null
}

//슬라이드
.slick-slider {
  overflow: hidden;
}

.slick-dots {
  bottom: $size-m !important;
}

.slideVideo {
  position: relative;
  width: 100%;

  @include small {
    margin-top: 72px;
  }

  @include mobile {
    margin-top: 73px;
  }

  @include tablet {
    margin-top: 73px;
  }

  .textWrap {
    position: absolute;
    bottom: 20%;
    right: 5%;
    z-index: 100;
    text-align: right;

    h2 {
      color: white;

      font : {
        family: $eng_sub;
        size: $slide-title;
        weight: bold
      }

      @include small {
        font-size: 7rem;
      }

      @include mobile {
        font-size: 10rem;
      }

      @include tablet {
        font-size: 15rem;
      }

      letter-spacing: $size-xs;
      margin-bottom: 30px;
    }

    .videoBtn {
      width: 200px;
      border-radius: 15px;

      font: {
        size: $size-m;
        weight: bold;
      };
    }
  }

}

//문단1
.contents1 {
  @include dFlex();
  height: auto;

  div {
    height: 800px;
    opacity: 0.7;
    transition: all 0.5s;
    cursor: pointer;

    @include small {
      height: 400px;
    }

    @include mobile {
      height: 500px;
    }

    @include tablet {
      height: 600px;
    }

    &:hover {
      opacity: 1;
    }

    h2 {
      font : {
        size: $size-l;
        family: $eng;
      }

      color: #fff;
      text-align: left;
      padding-left: 40px;
      margin-top: 700px;
      text-shadow: 0 0 5px #333;

      @include small {
        margin-top: 300px;
      }

      @include mobile {
        margin-top: 400px;
      }

      @include tablet {
        margin-top: 500px;
      }
    }
  }

  .motor {
    @include backGround(url('../public/img/contents2.jpg'), center);
  }

  .surf {
    @include backGround(url('../public/img/contents3.jpg'), center);
  }
}

//문단2-NEW
.contents2 {
 margin-top: 10%;
  .slider-container{padding: 10px;}

  h2 {
    text-align: center;
    margin: 3% 0;

    font: {
      size: $main-title;
      family: $eng;
    }

    ;
  }

  .slick-slider {
    overflow: unset;
  }

  .slick-prev {
    left: 0;
    z-index: 100;
  }

  .slick-next {
    right: 0;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
    font-size: $size-l;
  }


  .tabBtn {
    text-align: center;
    margin: 3% 0;

    button {
      width: 15%;
      height: 40px;
      line-height: 40px;
      margin: 1%;

      font: {
        size: $size-s;
        family: $eng_sub;
      };
    }
  }

  .newImgBox {
    margin: 5%;

    h4 {
      font: {
        size: $size-s;
        family: $eng;
      };
      margin: 2% 0;
    }

    p {
      font-size: $size-xs;

      &:last-child {
        font-size: $size-s;
      }
    }
  }
}

//문단3-article

.contents3 {
  .col {
    margin: 10% 0
  }

  .article1 {
    @include backGround(url('../public/img/article1.jpg'));
    background-position-x: center;
    width: 100%;
    height: 550px;
    margin-bottom: 40px;
  }

  h2 {
    padding-left: 2%;
    margin-bottom: 1%;

    font : {
      size: $size-l;
      family: $eng_sub;
      weight: bold;
    }
  }

  .bobText {
    padding: 0 2%;
    @include dFlex(100%);
    p{
      margin: 2% 0 4%;
    
      
      @include desktop {
        width: 55%;
      }
    }

    .bobImg {
      width: 100rem;
      @include small {
        width: 100%;
        text-align: right;
      }
    
      @include mobile {
        width: 100%;
        text-align: right;
      }
      @include tablet {
        width: 100%;
        text-align: right;
      }
      img {
        width: 35rem;
        height: 40rem;
        margin: 0 3%;
      }
    }
  }
}

.contents4 {
  .col-md-6 {
    &:nth-of-type(1) {
      padding: 4% 2% !important;
    }

    &:nth-of-type(2) {
      padding: 2% !important;
    }
  }

  h2 {
    margin-bottom: 2%;

    font : {
      size: $size-m;
      family: $eng_sub;
      weight: bold;
    }
  }

  .article2 {
    @include backGround(url('../public/img/article2.jpg'));
    width: 100%;
    height: 450px;
    margin-bottom: 40px;
  }

  .article3 {
    @include backGround(url('../public/img/article3.jpg'), center);
    width: 100%;
    height: 350px;
    margin-bottom: 40px;
  }
}

//문단5
.seoulbg {
  @include backGround(url('../public/img/seoul.png'));
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  margin: 5% auto;
  color: #fff;
  text-shadow: 8px 10px 10px black;

  font: {
    size: 8rem;
    family: $eng;
  };
}

.seoulProduct {
  img {
    display: block;
    margin: 0 auto;
  }

  .seoulText {
    width: 70%;
    margin: 5% auto;

    h4 {
      font: {
        size: $size-s;
        family: $eng;
      };
      margin: 2% 0;
    }

    p {
      font-size: $size-xs;

      &:last-child {
        font-size: $size-s;
      }
    }
  }
}

.seoulBtn {
  width: 150px;
  font-size: $size-s;
  line-height: $size-l;
  display: block;
  margin: 5% auto;
}

.contents6 {
  margin-bottom: 10%;

  .store {
    padding: 0 1%;
  }

  h4 {
    font-size: 3.5rem;
    margin: 3% 0;
  }

  p {
    font-size: 3.2rem;
    margin: 2% 0;
  }

}

.storeTitle {
  margin: 5% 0;

  font : {
    size: $size-l;
    family: $eng_sub;
    weight: bold;
  }

  text-align: center;
}

//풋터
.footer {
  background-color: #333;
  color: #ccc;
  font-size: 3.3rem;
  height: 300px;
  @include small {
    height: auto;
    font-size: $size-xs;
  }

  .row {
    @include dFlex();
    height: 300px;
    @include small {
      height: auto;
      align-content: center;
      justify-content: center;
    }

    dd {
      margin: 2% 0;
    }
  }

  .leftBox {
    @include small {
     padding: 5%;
      width: 45%;
    }
  
    @include mobile {
      width: 50%;
    }  
    p {
      padding-top: 20px
    }
  }

  .rightBox {
    @include dFlex(50%, flex-start, flex-end);

    @include small {
      width: 53%;
    }

    dd {
      margin: 13% 0;
    }

    .contact {
      margin-left: 15%;
      line-height: 9rem;

      p {
        font-size: $size-m;

        &::after {
          content: "";
          @include backGround(url('../public/img/arw.png'));
          width: 4.5rem;
          height: 4.5rem;
          display: inline-block;
        }
      }

      strong {
        font-size: $size-s;
        color: #fff;
      }

      .sns {
        img {
          width: 6rem;
          margin-right: 10%;
        }
      }
    }
  }
}

