@charset 'utf-8';
@import '_var.scss';

//상단
.wrap {
    margin-top: 100px;
    @include dFlex();

    img {
        display: inline-block;
        margin: 0 auto;
    }
}

.detailSlide {
    @include dFlex(50%);
    @include small {
        width: 100%;
    }

    @include mobile {
        width: 100%;
    }
    @include tablet{
        width: 100%;
    }
      

    img {
        width: 50%;
        //height: 150px;
    }
}

.imgBox {
    width: 70%;

    img {
        width: 80%;
        height: 100%;
        // height: 600px;
        // @include small {
        //    height: 400px;
        //   }
        
        //   @include mobile {
        //     height: 450px;
        //   }
    }
}

.sideDetail {
    width: 30%;
    align-self: flex-start;
    // .slick-list{
    //     @include small {
    //         height: 370px !important;
    //        }
         
    //        @include mobile {
    //          height: 370px !important;;
    //        }
    // }
    // img{
    //     @include small {
    //         height: 118px !important;
    //     }
         
    //        @include mobile {
    //          height: 118px !important;;
    //        }

    // }
}

.textDetail {
    width: 45%;
    line-height: $size-l;
    @include small {
        width: 87%;
        margin: 0 auto;
    }
    
    @include mobile {
        width: 100%;
    }
    @include tablet{
        width: 100%;
    }

    span {
        font-size: 3.4rem
    }

    ;

    h2 {
        font : {
            size: $size-l;
            family: $eng
        }
    }

    p {
        &:nth-of-type(3) {
            font-size: $size-m;
        }
    }

    .form-select {
        font-size: $size-s;
        margin: 3% 0;
    }

    button {
        font-size: $size-s;
        padding: 1.5% 0;
        margin: 1% 0;
    }

}

//하단
//탭박스
#fill-tab-example {
    margin-top: 7%;

    button {
        padding: 18px;
    }
}

.tab-content {
    margin: 5% 0;
    @include small {
        padding: 5%;
    }
}

//상세정보
.detailBg {
    @include backGround(url('../public/img/detailBg.png'), center);
    height: 250px;
    margin-bottom: 10%;
    padding: 33px;
    @include small {
        height: auto;
        background-position: right;
    }

    h2 {
        line-height: $slide-title;

        font: {
            size: $size-l;
            family: $eng_sub;
            weight: bold;
        }
        @include small {
            font-size: 8rem;
        }
    }

    button {
        font-size: $size-xs;
        margin-top: 12px;
        padding: 8px 20px;

        span {
            font-family: $eng_sub;
        }
    }

}

.detailClothes {
    img {
        display: block;
        width: 500px;
        margin: 5% auto;
        @include small {
            width: 100%;
        }
    }

    h3 {
        font-size: $size-m;
        margin: 3% 0;
    }
}

//탭메뉴
.nav-link {
    color: #333 !important;
}

.nav-link:focus,
.nav-link:hover,
.nav-link:active {
    color: #333 !important;
    font-weight: bold;
}
.nav-tabs .nav-item{
    @include small {
        &:nth-of-type(1){
            padding-left: 5%;
        }
        &:nth-of-type(3){
            padding-right: 5%;
        }
    }
}

//상품정보보기
.info {
    th {
        padding: 8px;
        width: 23%;
        text-align: center;
    }

    td {
        padding: 8px 20px;
    }
}

.size {
    tr {
        text-align: center;
    }

    th {
        width: 20%;
        padding: 8px;
    }

    td {
        padding: 8px;
    }
}

//상품리뷰
.reviewPage {
    h2 {
        margin: 2% 0;
        border-bottom: 2px solid #333;
        padding: 1% 0;

        font : {
            size: $size-m;
            weight: 600;
        }
    }

    img {
        width: 100%;
    }

    li {
        padding: 1.5%;
        line-height: $size-l;
    }

    small {
        margin: 0 1%;
        letter-spacing: 0.4rem;
    }

}

.reviewpd {
    color: #999;
    font-size: 3.5rem;
}

//배송교환반품
.shipping {
    button {
        font-size: 5rem;
        background: #ddd !important;
        padding: 1.5% 2%;
    }

    .accordion-body {
        padding: 2%;

        h3,
        dt {
            line-height: $main-title;

            font : {
                size: $size-s;
                weight: 600;
            }
        }

        p,
        dd {
            line-height: $size-l;
            font-size: 3.5rem;
        }

    }

}

.accordion-button::after {
    width: 25px;
    height: 20px;
    background-size: cover;
}

//함께 구매한 상품

.togetherTitle {
    padding: 5% 6.5% 0;

    font : {
        size: $size-m;
        weight: 600;
    }
}

.together {
    margin: 5% 0 20%;
    text-align: center;

    .slick-slider {
        overflow: unset;
    }

    .slick-dots {
        bottom: -50px !important;
    }

    img {
        width: 50%;
        display: inline-block;
        margin: 0 auto;
    }

    p {
        line-height: $main-title;
        font-family: $eng;
        color: #777;
    }
}

//카트
.cart {
    margin-top: 100px;
    .row{
        @include small{
            padding: 2%;
        }
    }

    h2 {
        height: 200px;
        line-height: 200px;
        font-size: $size-l;
        text-align: center;
        @include small{
            height: 100px;
            line-height: 100px;
        }

    }

    .shopping {
        display: block;
        margin: 5% auto;
        font-size: $size-s;
        padding: 10px 20px;
        border-radius: 10px;
        @include small{
            width: 97% !important;
            margin: 2% auto;
            padding: 2%;
        }
        @include cart{
            width: 100%;
        }

    }

}

.leftSide {
    width: 75%;
    
    @include cart{
        width: 100%;
    }
    .table {
        text-align: center;
        
        thead{
            th{
                &:nth-child(1){width: 20%;}
                &:nth-child(2){width: 25%;}
                &:nth-child(3){width: 30%;}
                &:nth-child(4){width: 15%;}
                &:nth-child(5){width: 5%;}
            }
        }

        tbody {
            vertical-align: middle;

            td {
                padding: 3% 0;

                img{
                    @include small{
                        width: 100px;
                    }
                    @include mobile{
                        width: 120px;
                    }

                }

                &:nth-of-type(3) {
                    button {
                        display: block;
                        margin: 0 auto;
                        font-size: $size-s;
                        padding:  5% 10%;
                        border-radius: 10px;
                    }
                }

            }
            .input-group{
                width: 60%;
                margin: 0 auto;
                text-align: center;
                @include small{
                    width: 70%;
                }
            }
            .form-control{
                font-size: $size-s;
                text-align: center;
            } 

        }
    }
}

.rightSide {
    width: 300px;
    margin:  0 auto;
    @include cart{
        width: 100%;
    }
    
    th,td{padding: 5rem 0;}
    td{text-align: right;}
    p{
        font-size: 3.5rem; padding: 5% 0;
        @include cart{
           padding: 2% 0;
        }
     }
    button {
        font-size: $size-s;
        padding:  3%;
        border-radius: 10px;
        margin: 5% 0;
        @include cart{
           padding: 2%;
           margin: 0;
        }
    }
}

//로그인
.loginPage{
    margin-top: 200px;
    width: 450px;
    @include small{
        width: 90%;
        margin-top: 120px;
    }

    h1{
        font : {
            size: $size-l;
            weight : bold;
        }
        
        line-height: $slide-title;
        text-align: center;
        border-bottom: 1rem solid #333;
        margin-bottom: 5%;
    }
    .form-control{
        font-size: $size-s;
        margin: 3% 0;
        padding: 2%;
    }
    button{
        width: 100%;
        text-align: center;
        font-size: $size-s;
        margin: 2% 0;
        padding: 2%;
    }
    .btn-group{
        width: 100%;
        margin-bottom:20%;
    }
}

