
/* 타이틀영어폰트 */
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');
/* 서브영어폰트 */
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');
/* 한글폰트 */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
body {
  margin: 0;
  font-family: 'NanumSquare';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
